@import '../../styles/App.scss';


.main{
  max-width: calc(100vw - 290px);
  min-height:calc(100vh - 100px);
  width: fit-content;
  margin: 0 auto 0 260px;
  position: relative;

  .discoveries{
    height: 250px;
    margin: 0 auto;
    width: fit-content;
    overflow: hidden;
    // border:1px solid chartreuse;

    .items{
      overflow: hidden;
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-wrap: wrap;
    }

    .discoveryItem{
      flex-grow: 1;
      height: 200px;
      width: 200px;
      margin: 0 5px 15px 0;
      border-radius:05px;
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      overflow: hidden;

      h4, h5{
        color: white;
        background-color: black;
        width: fit-content;
        padding: 4px 10px;
        text-align: right;
        transition: .3s ease-in all;
        position: relative;
        right: 0;
        font-weight: 500;
        font-style: italic;
      }

      .overlay{
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        background: $turquiose;
        mix-blend-mode: multiply;
        transition: .3s ease-in all;
        border-radius:05px;
      }

      .details{
        box-sizing:border-box;
        padding:0 10px 5px 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        transition: .3s ease-in all;
        position: relative;
        bottom: 0;
      }

      p.discoveryText{
        position: absolute;
        max-height: 150px;
        height: fit-content;
        width: 150px;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing:border-box;
        margin: auto;
        opacity: 0;
        transition: .3s ease-in all;
        color: white;
        mix-blend-mode: lighten;
        z-index: 10;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical; 
        text-overflow: ellipsis;
      }

      &:hover{
        .details{
         bottom:-50px;
        }
        h5{
          right: -100%;
        }
        .overlay, p.discoveryText{
          opacity: 1;
        }
      }
    }
  }
}
