@import '../../styles/App.scss';

.dashPosts{
  padding-bottom: 50px;

  .topBar{
    height: 50px;
    display: flex;
    align-items: center;
    border:1px solid grey;
    box-sizing:border-box;
    padding:0 5px;
    margin-top: 10px;

    .pill{
      padding: 2px 15px;
      border-radius: 15px;
      border:1px solid grey;
      font-size: 14px;
      margin-right: 10px;
    }
  }

}