@import '../../styles//App.scss';

.postRowCompact{

  height: 80px;
  border:1px solid #cacaca;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing:border-box;
  padding:0 15px;
  margin: 5px auto;
  // width: 99%;

  .left{ 
    width: calc(100% - 230px);
    display: flex;
    align-items: center;
  }

  img{
    height: 65px;
    width: 65px;
    object-fit: cover;
    margin-right: 15px;
  }

  h4{
    font-weight: 500;
    font-style: italic;
    margin-bottom: 3px;
    cursor: pointer;
    transition: .3s ease-in-out all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover{
      text-decoration: underline;
    }
  }

  .text{
    margin-bottom: 5px;
    width: 100%;

    span.category{
      font-size: 12px;
      padding:2px 10px 4px 10px;
      background-color: $turquiose;
      color: white;     
      cursor: pointer;
      
      &:hover{
        text-decoration: underline;
      }
    }

    p>a{
      color: $turquiose;
      transition: .3s ease-in-out all;

      &:hover{
        // color: $purple;
        text-decoration: underline;
      }
    }
  }

  .icons{
    display: flex;
    height: 40px;
    align-items: center;
    p{
      justify-self: flex-end;
      margin: 0 20px 0 5px
    }
  }
}