@import '../../styles/App.scss';

.profileContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}


.editProfile{
  width:85%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 150px;

  .header{
    width: 100%;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .saveBtn{
      font-size: 18px;
      padding:3px 50px;
      transition: .5s ease-in-out all;

      &.activeSave{
        @include solidButton($purple, white, 18px, initial, initial);
        padding:7px 50px 10px 50px;
        border-radius: 2px;
        -webkit-animation: pulseBtn 1.5s ease-in-out 1;
        -moz-animation: pulseBtn 1.5s ease-in-out 1;
        -ms-animation: pulseBtn 1.5s ease-in-out 1;
        -o-animation: pulseBtn 1.5s ease-in-out 1;
        animation: pulseBtn 1.5s ease-in-out 1;
        animation-delay: 0;
        animation-iteration-count: infinite;
        animation-direction: forward;
        // border:1px solid $purple;
        // color: $purple;
      }
    }
  }

  .blockBtns{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px auto;

    .block{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border:1px solid grey;
      border-radius: 10px;
      height:200px;
      width:200px;
      flex-grow: 1;
      position: relative;
      bottom: 0;
      transition:.1s ease-in-out all;

      p{
        font-size: 18px;
      }

      &:hover{
        bottom: 3px;
        p{
          text-decoration: underline;
          
        }
      }

      &:nth-of-type(2){
        margin: 0 10px;
      }

      i{
        font-size: 30px;
        color: $turquiose;
        margin-bottom: 10px;
      }
    }
  }

  form{
    width: 100%;
    margin: 5px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input, select{

      width: calc(50% - 5px);
      height: 40px;
      box-sizing:border-box;
      padding:0 10px;
      border: 1px solid grey;
      border-radius: 3px;
      margin:5px 0;

      &.full{
        width: 100%;
      }
    }

    select{
      cursor: pointer;
    }
    
    textarea{
      width: 100%;
      height: 200px;
      box-sizing:border-box;
      padding:10px;
      border: 1px solid grey;
      border-radius: 3px;
      resize: none;
      margin:5px 0;
    }

    h4{
      width: 100%;
      margin: 15px auto 5px auto;
      border-bottom: 1px solid grey;
      padding-bottom: 5px;
    }

    .social{
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div{
        width: calc(50% - 5px);
        position: relative;
      i{
        color: $turquiose !important;
        position: absolute;
        left:10px;
        top:15px;
      }
        input{
          width: 100%;
          padding: 0 35px;
        }
      }
    }
  }

  // h2{
  // }

}